
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
.nav-bg {
 background-color: rgb(175, 123, 66);
}

.intime-logo{
	width: 200px;
	height: 100px;
}

.main-bg {
	
	background-color: #efe8e8;
	/*z-index: -2;*/
	min-height: 100vh;

}
.catalog-cont {
	/*background-color: red;*/
	/*min-height: 100vh;*/
}

.catalog-img{
	min-height: 345px;
	min-width: 224px;
}

.edit-form-img {
	height: 345px;
	width: 224px;
}


}
.web-brand{
	font-family: 'Patua One', cursive;
	font-size: 3em;
}

.web-brand-link {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.logout-bg {	
	background-color: rgba(175, 123, 66,0.9);	
}

.logout-bg-font {
	font-family: 'Patua One', cursive;
	color:white;
	font-size: 15px;
}

.card-bg:hover {
	border:3px;
	border-style: groove;
}



.card-bg {
	background-color: transparent;
	border: none;
	position: relative;
}

.cat-stocks{
	position: absolute;
	top:0.1%;
	left:1%;
	background-color: rgba(237, 157, 97,0.4);
	border-style: ridge;
	padding: 1px;
	border-radius: none;

}

.cat-hot{
	position: absolute;
	top:4%;
	left:10%;
	font-size: 1.4rem;
	color: #e26c14;
}
.item-name {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
}

.item-price{
	font-family: 'Heebo', sans-serif;
	font-weight: thin;
}

.qty-input{
	border-radius: 3px;
	width: 40px;
}

.sub-input {

	width: 40px;
}

.add-to-cart {
	position: absolute;
	right: 10%;
	bottom: 1%;
	opacity: 0;
}

.cart-img{
	height: 150px;
	width:150px;
}

.card-bg:hover .add-to-cart {
	opacity: 1;
}

.cart-icon {
	margin-top: 5.5px;
}

.filter-cont {
	z-index: 1;
	border:1px solid;
	max-height: 120vh;
	/*height: auto;*/



}

.ulist {
	list-style: none;
}

.btns {	
	color: black;
	font-family: 'Poppins', sans-serif;
}

.btns:hover {
	background-color:black;
	color: white;
}

.btn-addnewitem {
	font-size: 0.8rem;
	font-weight: bolder;
	margin-left: 15%;
/*	padding-bottom: 0;
	padding-top: 0;*/
}

.filter-head {
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	border-color: white;
	font-size: 1rem;
}

.cart-table {
	background-color: rgba(198, 105, 43,0.3);
	
}

.cart-title{
	font-family: 'Patua One', cursive;
	background-color: rgba(198, 105, 43,0.3);
	border-top-left-radius: 7px; 
	border-top-right-radius: 7px; 
}

.no-item {
	font-family: 'Patua One', cursive;
	background-color: rgba(198, 105, 43,0.3);
	padding: 50px;
}

.cart-input {
	width: 40px;
}
.th-qty {
	width:200px;
}

.flash-addtocart {
	position: absolute;
	right: 10%;
	z-index: 1;
	padding: 20px 5px 20px 5px;
	border: 1px solid;
	border-radius: 3px;
	border-color: rgba(234, 212, 180,1);
	background-color: rgba(234, 212, 180,0.9);
}
.welcome-user{
	position: absolute;
	z-index: 1;
	font-family: 'Patua One', cursive;
	font-size: 3em;
	background-color: rgba(234, 212, 180,0.9);
	padding: 50px 100px 50px 100px;
	border:5px solid;
	border-color: rgba(234, 212, 180,1);
	border-radius: 10px;
	top: 35%;
	left:20%;
}
.welcome-admin{
	position: absolute;
	z-index: 2;
	font-family: 'Patua One', cursive;
	font-size: 3em;
	background-color: rgba(234, 212, 180,0.9);
	padding: 50px 100px 50px 100px;
	border:5px solid;
	border-color: rgba(234, 212, 180,1);
	border-radius: 10px;
	top: 35%;
	left:30%;
}


.hide-success {
	transition: 4s;
	opacity: 0;
	z-index: 0;
}

.modal-bg{
	background-color: rgba(239, 232, 232,0.9);
	/*background-color: rgba(127, 44, 2,0.9);*/
	color: black;
}

.jumb-bg{
	background-color: rgba(175, 123, 66,0.4);
}

.footer-bg {
	background-color: rgb(175, 123, 66);

}

#index-footer {
	z-index: 3;
}

.out-stock{
	opacity:0.3;
}

.footer-link {
	color: black;
	text-decoration:underline;
}

.out-stock-pos {
	position: relative;
}
.p-out-stock{
	position: absolute;
	top:50%;
	left: 25%;
	font-family: 'Quicksand', sans-serif;
}

.login-bg{
	font-family: 'Heebo', sans-serif;	
	background-color: rgba(175, 123, 66,0.4);
	border-radius: 20px;
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);
}
.log-btn{
	background-color: rgba(175, 123, 66,0.6);
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);
}

.login-form{
	margin-top: 10%;
}
.reg-form{
	margin-top: 10%;
}
.reg-btn{
	background-color: rgba(175, 123, 66,0.6);
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);
}
.reg-bg{
	font-family: 'Heebo', sans-serif;
	background-color: rgba(175, 123, 66,0.4);
	border-radius: 20px;
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);
}
.header-form{
	font-size: 1.5rem;
}
 
.links {
	text-decoration: none;
	color: black;
}

.btn-plus-minus {
	
	background-color: rgba(26, 204, 74,0.8)
}

.btn-plus-minus-disabled {
	background-color: #a5a7aa;
}

.user_list_h {
	font-family: 'Patua One', cursive;
	font-size: 3em;
}

.user_list_table{
	background-color: rgba(175, 123, 66,0.4);
	border-radius: 20px;
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);

}

.order_span{
	background-color: rgba(175, 123, 66,0.4);
	border-radius: 3px;
	border:1px solid;
	border-color: rgba(175, 123, 66,0.8);
	margin-bottom: 1%;
}

.order-confirmation-bg {
	background-color: rgba(175, 123, 66,0.4);
	border-radius: 20px;
	border:2px solid;
	border-color: rgba(175, 123, 66,0.8);
}

.avatar {
	height: 190px;
	width: 200px;
}

.user-img{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: white;
}